.ant-card {
  display: flex;
  flex-direction: column;
  height: 100%; /* o una altura fija si aplica */
}

.ant-card-body {
  flex: 1; /* ocupa todo el espacio disponible */
}

.card-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 8px;
}

.card-description {
  flex: 1;
  margin-top: 8px;
  max-height: 120px; /* ajustable según diseño */
  overflow-y: auto;
}

.card-description p {
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;
}

.coorp-name {
  margin-top: auto;
  text-align: left;
  padding-top: 8px;
}